<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	namespace:写当前mapper文件对应的dao接口的全类名
 -->
<mapper namespace="com.baizhi.dao.ChapterDao">


	<!--添加-->
	<insert id="insert">
		insert into chapter values(#{id},#{name},#{url},#{size},#{duration},#{album.id})
	</insert>

	
</mapper>